body {
    background-color: rgb(243, 243, 235);
}

li {
    text-align: justify;
}
#id {
    text-align: center;
}
.article {
    margin-bottom: 25px;
    margin-top: 25px;

}

#saved {
    background-color: lightblue;
}